<h1>Register</h1>
<form class="" action="/register" method="post">
  username:<input type="text" name="username" value="" placeholder="username"><br>
  password:<input type="password" name="password" value="" placeholder="password"> <br>
<button type="submit" name="button">Register</button>
<a href="/login">Login</a>

</form>
